* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	background: #f0f0f0;
	font-family: "Courier New";
	font-size: 14px;
	line-height: 18px;
	color: #333;
}

h2, h3, h4 {
	color: #333;
}

.wrapper {
	width: 1000px;
	padding: 0 20px;
	margin: 0 auto;
	min-height: 100%;
	background-color: #fff;
}

ul {
  margin: 10px 0 10px 40px;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

tr {

}

td {
	border: 1px solid #ccc;
	padding: 10px;	
}

td:first-child {
	text-align: center;
}

td[colspan="2"] {
	text-align: left;
}


a, b {
	color: #333;
	font-size: 16px;
	font-weight: 800;
	text-decoration: none;
}

a img {
	max-height: 100px;
}

td b + a {
	padding-left: 5px;
}

.grey {
	font-size: 16px;
	text-decoration: underline;
	font-weight: 300;
	color: #777;
}
.grey:hover {
	text-decoration: none;
}